/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}
header a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600; /* Bold by default */
  transition: font-weight 0.2s ease;
}

header a:hover {
  font-weight: 5000; /* Even bolder on hover */
  text-decoration: underline;
}

header h1 {
  margin: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
}

/* Subject buttons */
#choose-subject {
  text-align: center;
  margin-top: 30px;
}

#choose-subject nav ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
  list-style-type: none;
}

#choose-subject nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

#choose-subject nav a:hover {
  background-color: black;
  color: white;
}

/* Question container */
#question-container {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Question image */
#question-image {
  margin: 1em 0;
  im:left;
}

#question-image img {
  max-width: 100px;
  width: 22%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#question-image img {
  display: block;
  margin: 1em 0;
  max-width: 100%;
  height: auto;
  text-align: left;
}


/* Answer buttons */
#answer-options button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}



#answer-options button:hover {
  background-color: #ddd;
}



/* Next button */
#next-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}


#next-button:hover {
  background-color: #45a049;
}
